.calculator {
    background-color: white;
    width: 600px;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -50%);
    left: 50%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 5px 50px 5px rgba(0, 0, 0, 0.75);
}
.calculator .calculator-row {
    display: flex;
    flex-direction: row;
}
.calculator .calculator-square {
    width: 24%;
    margin: 1%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
.calculator .calculator-screen {
    width: 98%;
    margin: 1%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    text-align: right;
}
.calculator .calculator-result {
    margin-right: 5px;
    height: 50px;
}
.calculator .calculator-buttons {
    margin: 15px;
}
.active-error {
    box-shadow: 0px 0px 5px 2px red;
}